* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(208, 248, 255);
}

.geral {
  height: 700px;
  display: grid;
  align-content: center;
}

h1 {
  text-align: center;
  margin: 40px;
}

#resultado,
#resultadoTemp {
  text-align: right;
  padding: 10px 20px;
  margin: 10px;
  font-size: 2rem;
  background-color: rgb(46, 46, 46);
  color: white;
  border-radius: 4px;
  height: 40px;
}

.calculadora-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  height: 100%;
  width: 250px;
  margin: 0 auto;
  border-radius: 4px;
  background-color: black;
}

.calculadora {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin: 10px;
  gap: 5px;
  /* border: 1px solid red; */
  height: 200px;
  align-items: stretch;
}

.botao {
  /* a solução que achei pra imagem parar de crescer o conteúdo como um todo, foi definir um height e colocar o basis com 20% para que fique em 4 coluna */
  flex: 1 1 20%;
  height: 4rem;
  border-radius: 4px;
  border: 0px;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.botao:hover {
  background-color: #92a5da;
  color: white;
  cursor: pointer;
}

.imagem {
  width: 25px;
  height: 25px;
  pointer-events: none;
  /* pointer-events faz com que a img pare de conflitar com o botão, quando clicava em cima da imagem, ela entendia o clique na imagem e não no botão, como era pra ser. */
}

/* .igual {
  flex: 2 1 calc(40% + 5px);
} */
