* {
  margin: 0px;
  padding: 0px;
}

h1 {
  text-align: center;
  margin: 40px;
}

.resultado {
  text-align: right;
  padding: 10px 20px;
  margin: 10px;
  font-size: 2rem;
  background-color: black;
  color: white;
  border-radius: 4px;
}

.calculadora-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  height: 400px;
  width: 300px;
  margin: 0 auto;
  border-radius: 4px;
}

.calculadora {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin: 10px;
  gap: 5px;
  border: 1px solid red;
  height: 200px;
}

.botao {
  flex: 1 1 calc(25% - 5px);
  /* max-height: 50px; */
  /* min-width: 120px; */
}

/* .imagem-botao {
  display: flex;
  align-items: center;
  justify-content: center;
}
.imagem {
  max-width: 20px;
  max-height: 20px;
  object-fit: cover;
} */
/* to tentando solucionar o problema da imagem, que sempre que eu adiciono ela, ela está forçando o height da primeira coluna de botões, ainda não achei a solução.. */
